* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding: 1rem;
}

main {
  display: grid;
  gap: 1rem;
}

section {
  padding: 0, 1rem;
}

.lineup {
  color: unset;
  flex: wrap;
  flex-direction: column;
  text-decoration: none;
  display: block;
  width: 100%;

  border-radius: 0.25rem;
  padding: 1ch;
}

.player-name {
  flex: wrap;
  font-weight: bold;
  text-decoration: none;
}

.new-player-form {
  display: flex;
  flex: wrap;
  flex-direction: column;
}
.player-img {
  max-inline-size: 3rem;
}
.lineup :hover {
  background: #eee;
  border: 1px, solid, black;
}

.player {
  display: grid;
  gap: 1ch;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.player-profile-img {
  max-inline-size: 400px;
}

@media (width > 600px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

.add-btn {
  width: 10rem;
}

.remove-btn {
  width: 10rem;
  margin: 0.5ch;
}

.newPlayerItems {
  margin: 0.5ch;
}

.liclass {
  border: 1px, solid, rgb(161, 160, 160);
  border-radius: 3px;
  padding: 1px;
  margin: 1px;
  max-width: 500px;
}
