* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding: 1rem;
}

main {
  display: grid;
  gap: 1rem;
}

section {
  padding: 0 1rem;
}

.lineup a {
  color: unset;
  text-decoration: none;
  display: block;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 0.25rem;
  padding: 1ch;
}

.lineup a:hover {
  background: #eee;
}

.player {
  display: grid;
  gap: 1ch;
}

img {
  max-width: 100%;
  object-fit: contain;
}

@media (width > 600px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

.remove-btn {
  width: 10rem;
}
